In [2]:
#import csv
#with open('innovators.csv', 'r') as file:
 #   reader = csv.reader(file)
  #  for row in reader:
   #     print(row)
 
import pandas as pd
df=pd.read_csv('airtel.csv')
print(df)

                  Date  Open Price  High Price  Low Price  Close Price  \
0       1-January-2021      510.60      516.25     508.25       515.10
1     31-December-2020      515.95      518.45     506.60       509.30
2     30-December-2020      523.00      523.00     513.35       515.95
3     29-December-2020      521.95      525.00     515.10       520.25
4     28-December-2020      520.00      526.95     516.90       521.55
...                ...         ...         ...        ...          ...
2474    7-January-2011      353.90      354.75     335.00       338.70
2475    6-January-2011      351.00      355.35     351.00       353.25
2476    5-January-2011      353.90      355.70     348.35       349.90
2477    4-January-2011      361.00      361.75     353.10       355.30
2478    3-January-2011      358.40      364.90     354.50       359.35

             WAP  No.of Shares  No. of Trades  Total Turnover (Rs.)  \
0     511.767064        263094           4975           134642844.0
1     511.222590        367218           8045           187730137.0
2     516.111315        453614           7839           234115318.0
3     520.661240        356338           4591           185531385.0
4     522.491300        354822           5024           185391408.0
...          ...           ...            ...                   ...
2474  342.594042        358515           5778           122825103.0
2475  353.230604        196241           2516            69318327.0
2476  351.481252        172421           2552            60602749.0
2477  359.347771        510966           3163           183614493.0
2478  360.257123        316463           5263           114008050.0

      Deliverable Quantity  % Deli. Qty to Traded Qty  Spread High-Low  \
0                  41497.0                      15.77             8.00
1                  95310.0                      25.95            11.85
2                 132052.0                      29.11             9.65
3                  48296.0                      13.55             9.90
4                  62156.0                      17.52            10.05
...                    ...                        ...              ...
2474               73576.0                      20.52            19.75
2475               41231.0                      21.01             4.35
2476               43428.0                      25.19             7.35
2477              364759.0                      71.39             8.65
2478               82793.0                      26.16            10.40

      Spread Close-Open
0                  4.50
1                 -6.65
2                 -7.05
3                 -1.70
4                  1.55
...                 ...
2474             -15.20
2475               2.25
2476              -4.00
2477              -5.70
2478               0.95

[2479 rows x 13 columns]

In [2]:
df['Date']

0         1-January-2021
1       31-December-2020
2       30-December-2020
3       29-December-2020
4       28-December-2020
              ...
2474      7-January-2011
2475      6-January-2011
2476      5-January-2011
2477      4-January-2011
2478      3-January-2011
Name: Date, Length: 2479, dtype: object

In [25]:
list2=(((df['Close Price']-df['Open Price'])/df['Close Price'])*100)

In [4]:
df['%gain']=list

In [5]:
df

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,%gain
0,1-January-2021,510.60,516.25,508.25,515.10,511.767064,263094,4975,134642844.0,41497.0,15.77,8.00,4.50,0.873617
1,31-December-2020,515.95,518.45,506.60,509.30,511.222590,367218,8045,187730137.0,95310.0,25.95,11.85,-6.65,-1.305714
2,30-December-2020,523.00,523.00,513.35,515.95,516.111315,453614,7839,234115318.0,132052.0,29.11,9.65,-7.05,-1.366411
3,29-December-2020,521.95,525.00,515.10,520.25,520.661240,356338,4591,185531385.0,48296.0,13.55,9.90,-1.70,-0.326766
4,28-December-2020,520.00,526.95,516.90,521.55,522.491300,354822,5024,185391408.0,62156.0,17.52,10.05,1.55,0.297191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,7-January-2011,353.90,354.75,335.00,338.70,342.594042,358515,5778,122825103.0,73576.0,20.52,19.75,-15.20,-4.487747
2475,6-January-2011,351.00,355.35,351.00,353.25,353.230604,196241,2516,69318327.0,41231.0,21.01,4.35,2.25,0.636943
2476,5-January-2011,353.90,355.70,348.35,349.90,351.481252,172421,2552,60602749.0,43428.0,25.19,7.35,-4.00,-1.143184
2477,4-January-2011,361.00,361.75,353.10,355.30,359.347771,510966,3163,183614493.0,364759.0,71.39,8.65,-5.70,-1.604278
2478,3-January-2011,358.40,364.90,354.50,359.35,360.257123,316463,5263,114008050.0,82793.0,26.16,10.40,0.95,0.264366

In [6]:
# df.to_csv('test.csv')
col=df['%gain']

In [7]:
maxval=col.max()
maxval

12.585997571833262

In [8]:
col.idxmax()

201

In [9]:
#1. covarience???
#2. max and min  gain and news of day and 2nd 3rd 4th 5th max and min
#3.for mo, tue,.. find max and avg % gains and news of day
#4.
#5. based on 2  and news

In [10]:
df['Date'][203]

'11-March-2020'

In [14]:
max2=col.nlargest(5)

In [15]:
max2

201    12.585998
284     9.867752
905     9.578750
543     9.234412
192     9.205021
Name: %gain, dtype: float64

max2[0]

In [16]:
max2[0]

KeyError: 0

In [38]:
df1=pd.read_csv('bse_data.csv')
#df.to_csv('test1.csv')

In [39]:
df1

                 Date  Open Price  High Price  Low Price  Close Price
0      3-January-2011    20621.61    20664.80   20531.00     20561.05
1      4-January-2011    20617.38    20651.21   20449.01     20498.72
2      5-January-2011    20509.95    20509.95   20243.95     20301.10
3      6-January-2011    20395.50    20425.85   20107.17     20184.74
4      7-January-2011    20163.85    20210.62   19629.22     19691.81
...               ...         ...         ...        ...          ...
2494  25-January-2021    49253.68    49263.15   48274.92     48347.59
2495  27-January-2021    48385.28    48387.25   47269.60     47409.93
2496  28-January-2021    46834.57    47172.02   46518.48     46874.36
2497  29-January-2021    47423.47    47423.66   46160.46     46285.77
2498  1-February-2021    46617.95    48764.40   46433.65     48600.61

[2499 rows x 5 columns]

In [41]:
list1=(((df1['Close Price']-df1['Open Price'])/df1['Close Price'])*100)

correlation=list.corr(list1)

In [42]:
correlation=list2.corrwith(list1)

AttributeError: 'Series' object has no attribute 'corrwith'

In [27]:
correlation

nan

In [43]:
df1['%gain']=list1

In [44]:
df['%gain'].corr(df1['%gain'])

0.018348730097304405

In [45]:
df1

,Date,Open Price,High Price,Low Price,Close Price,%gain
0,3-January-2011,20621.61,20664.80,20531.00,20561.05,-0.294537
1,4-January-2011,20617.38,20651.21,20449.01,20498.72,-0.578865
2,5-January-2011,20509.95,20509.95,20243.95,20301.10,-1.028762
3,6-January-2011,20395.50,20425.85,20107.17,20184.74,-1.044155
4,7-January-2011,20163.85,20210.62,19629.22,19691.81,-2.397139
...,...,...,...,...,...,...
2494,25-January-2021,49253.68,49263.15,48274.92,48347.59,-1.874116
2495,27-January-2021,48385.28,48387.25,47269.60,47409.93,-2.057269
2496,28-January-2021,46834.57,47172.02,46518.48,46874.36,0.084886
2497,29-January-2021,47423.47,47423.66,46160.46,46285.77,-2.457991
2498,1-February-2021,46617.95,48764.40,46433.65,48600.61,4.079496

In [46]:
df1['Open']

KeyError: 'Open'

# Q1: Compare, contrast and check whether there is any correlation between the
## BSE overall market and the telecommunication industry?

### Sol:
#### find all max 5 of each stock and their dates  
#### find all min 5 of each stock and their dates
#### find all max 5 of bse market and their dates
#### find all min 5 of bse market and their dates
#### compare dates if any same ?
#### else compare each date in bse with all 5 stocks find any relation?

##### airtel.csv, mtnl.csv, relianc comm.csv, vodafone.csv, tata comm.csv

In [3]:
import pandas as pd

In [4]:
ds1=pd.read_csv('airtel.csv')
ds2=pd.read_csv('mtnl.csv')
ds3=pd.read_csv('reliance comm.csv')
ds4=pd.read_csv('vodafone.csv')
ds5=pd.read_csv('tata comm.csv')
ds6=pd.read_csv('bse_data.csv')

In [4]:
ds0=pd.read_csv('bda_added%gains.csv')

In [6]:
ds0

,Date,Tata Comm Open Price,Mtnl Open Price,Reliance Open Price,Airtel Open Price,Vodafone Open Price,Tata CommnHigh Price,Mtnl High Price,Reliance High Price,Airtel High Price,...,Tata Commn Close Price,Mtnl Close Price,Reliance Close Price,Airtel Close Price,Vodafone Close Price,Tata Commn No. of Trades,Mtnl No. of Trades,Reliance No. of Trades,Airtel No. of Trades,Vodafone No. of Trades
0,1-Jan-21,1100.00,14.00,2.00,510.60,10.72,1100.00,14.00,2.03,516.25,...,1094.70,13.73,2.01,515.10,11.20,373,973,2871,4975,81780
1,31-Dec-20,1080.35,13.85,2.01,515.95,10.16,1104.95,14.20,2.03,518.45,...,1100.20,13.83,2.01,509.30,10.64,1215,1118,2015,8045,115133
2,30-Dec-20,1035.00,13.60,2.04,523.00,10.31,1082.00,13.65,2.05,523.00,...,1077.05,13.48,2.03,515.95,10.22,834,393,2152,7839,89592
3,29-Dec-20,1071.50,13.70,2.00,521.95,10.42,1078.00,14.10,2.06,525.00,...,1069.95,13.54,2.04,520.25,10.29,600,1155,2224,4591,57253
4,28-Dec-20,1070.00,14.30,2.05,520.00,10.18,1080.00,14.35,2.05,526.95,...,1064.10,13.79,1.97,521.55,10.38,735,1748,4384,5024,83560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473,7-Jan-11,256.00,56.80,139.90,353.90,69.80,263.45,57.40,143.85,354.75,...,252.25,55.00,139.10,338.70,67.30,850,1434,18291,5778,1939
2474,6-Jan-11,261.00,57.00,140.00,351.00,69.00,265.00,57.75,142.80,355.35,...,257.80,56.85,139.95,353.25,69.60,463,1727,12409,2516,1403
2475,5-Jan-11,263.05,58.40,145.50,353.90,69.75,265.35,58.40,145.50,355.70,...,261.10,56.85,140.15,349.90,69.45,438,1163,12715,2552,1151
2476,4-Jan-11,266.60,57.75,148.55,361.00,71.00,270.00,58.45,149.40,361.75,...,264.90,57.65,144.20,355.30,69.50,720,1927,13005,3163,1379
2477,3-Jan-11,256.90,55.50,147.15,358.40,70.50,265.90,58.00,149.90,364.90,...,265.10,57.40,147.90,359.35,70.70,1326,3184,14824,5263,2359

In [6]:
l1=(((ds0['Tata Commn Close Price']-ds0['Tata Comm Open Price'])/ds0['Tata Commn Close Price'])*100)

l2=(((ds0['Mtnl Close Price']-ds0['Mtnl Open Price'])/ds0['Mtnl Close Price'])*100)
l3=(((ds0['Reliance Close Price']-ds0['Reliance Open Price'])/ds0['Reliance Close Price'])*100)
l4=(((ds0['Airtel Close Price']-ds0['Airtel Open Price'])/ds0['Airtel Close Price'])*100)
l5=(((ds0['Vodafone Close Price']-ds0['Vodafone Open Price'])/ds0['Vodafone Close Price'])*100)
#l6=(((ds6['Close Price']-ds6['Open Price'])/ds6['Close Price'])*100)

In [9]:
ds0['Tata %gain']=l1
ds0['Mtnl %gain']=l2
ds0['Reliance %gain']=l3
ds0['Airtel %gain']=l4
ds0['Vodafone %gain']=l5
l6=ds0['BSE %gain']

In [39]:
ds0.to_csv('total %gains.csv')

In [10]:
l1.nlargest(10)  # max 10 % gains by Tata

185     14.053848
276     13.199426
1854    10.548523
2422    10.144338
141     10.011249
1918    10.004275
1764     9.217877
170      9.203822
1053     8.682582
131      8.562445
dtype: float64

In [11]:
l1.nsmallest(10) # min 10 % gains by Tata

202    -18.371919
1324   -12.086428
198    -12.079646
2450    -9.923664
907     -8.934842
194     -8.817766
197     -8.670520
2362    -8.405342
169     -8.369650
1536    -7.497244
dtype: float64

In [12]:
d11=[185,276,1854,2422,141,1918,1764,170,1053,131]
d12=[202,1324,198,2450,907,194,197,2362,169,1536]

In [13]:
for i in d12:
    print(ds0['Date'][i])

12-Mar-20
24-Aug-15
18-Mar-20
10-Feb-11
5-May-17
24-Mar-20
19-Mar-20
20-Jun-11
5-May-20
16-Oct-14

In [14]:
l2.nlargest(10) # max 10 by Mtnl

1360    19.095477
312     16.920732
1633    16.562500
967     15.811088
1804    15.635179
496     15.463918
1636    15.238095
9       14.164742
2196    13.742690
48      12.873134
dtype: float64

In [15]:
l2.nsmallest(10) # min 10 by mtnl

1438   -22.090261
2042   -17.987805
310    -17.601246
47     -15.308151
205    -14.777618
338    -14.052953
2062   -13.925729
1822   -13.837638
2457   -13.282937
1618   -11.111111
dtype: float64

In [16]:
d21=[1360,312,1633,67,1804,496,1636,9,2196,48]
d22=[1438,2042,310,47,205,338,2062,1822,2457,1618]

In [17]:
for i in d22:
    print(ds0['Date'][i])

11-Mar-15
27-Sep-12
7-Oct-19
26-Oct-20
6-Mar-20
22-Aug-19
30-Aug-12
16-Aug-13
1-Feb-11
13-Jun-14

In [18]:
l3.nlargest(10) # max 10 by reliance

650     36.858006
749     24.377533
746     22.644163
745     18.371608
773     15.254237
837     13.692946
2337    12.558140
517     11.702873
1916    11.216430
1903    11.207779
dtype: float64

In [19]:
l3.nsmallest(10) # min 10 by reliance

471    -38.786765
472    -38.278146
891    -25.121951
2434   -24.319822
649    -18.566775
1937   -15.290270
2451   -14.918292
1324   -14.792899
1331   -14.155629
448    -13.197026
dtype: float64

In [20]:
d31=[650,749,746,745,773,837,2337,517,1916,1903]
d32=[471,472,891,2434,649,1937,2451,1324,1331,448]

In [21]:
for i in d32:
    print(ds0['Date'][i])

5-Feb-19
4-Feb-19
29-May-17
7-Mar-11
18-May-18
28-Feb-13
9-Feb-11
24-Aug-15
13-Aug-15
11-Mar-19

In [10]:
l4.nlargest(10) ## max 10 by airtel

201     12.585998
284      9.867752
904      9.578750
542      9.234412
192      9.205021
1832     9.147579
526      8.932854
186      8.094884
197      7.799506
448      7.401858
dtype: float64

In [11]:
l4.nsmallest(10) # min 10 by airtel

514    -8.869677
69     -8.319889
198    -7.930549
2075   -7.416780
1810   -7.368421
1819   -7.350971
2076   -7.106414
725    -6.983332
483    -6.592700
1426   -6.592238
dtype: float64

In [12]:
d41=[201,284,904,542,192,1832,526,186,197,448]
d42=[514,69,198,2075,1810,1819,2076,725,483,1426]

In [25]:
for i in d42:
    print(ds0['Date'][i])

5-Dec-18
23-Sep-20
18-Mar-20
9-Aug-12
3-Sep-13
21-Aug-13
8-Aug-12
24-Jan-18
18-Jan-19
27-Mar-15

In [26]:
l5.nlargest(10)

201    31.438721
284    27.717391
216    23.627685
183    18.536585
282    18.438538
971    18.427769
142    16.650246
83     16.401274
204    14.750000
150    13.971539
dtype: float64

In [27]:
l5.nsmallest(10)

198   -68.670886
354   -32.939439
299   -29.561201
214   -24.742268
199   -23.917526
145   -23.908730
85    -21.484814
219   -20.639535
240   -20.399113
143   -18.956337
dtype: float64

In [28]:
d51=[201,284,216,183,282,971,142,83,204,150]
d52=[198,354,299,214,199,145,85,219,240,143]

In [59]:
for i in d51:
    print(ds0['Day'][i])

Friday
Friday
Wednesday
Monday
Tuesday
Monday
Friday
Thursday
Monday
Tuesday

In [13]:
l6.nlargest(10)

201     8.472303
193     7.134797
196     4.864093
320     4.734231
142     3.979173
186     3.887457
1028    3.673604
192     2.915373
1807    2.743899
1644    2.693067
Name: BSE %gain, dtype: float64

In [14]:
l6.nsmallest(10)

198    -7.271790
195    -6.264366
200    -5.457681
202    -5.169177
188    -4.387074
1811   -4.212363
160    -4.060344
1325   -3.841414
1823   -3.758056
187    -3.742459
Name: BSE %gain, dtype: float64

In [15]:
d61=[201,193,196,320,142,186,1028,192,1807,1644]
d62=[198,195,200,202,188,1811,160,1325,1823,187]

In [16]:
for i in d62:
    print(ds6['Date'][i])

NameError: name 'ds6' is not defined

In [17]:
for i in d61:
    for j in d41:
        if(i==j):
            print(ds0['Date'][i])

13-Mar-20
7-Apr-20
26-Mar-20

####  +ve Dates with Market: Tata 0 Mtnl 0 Reliance 0
##### Airtel  13-Mar-20, 7-Apr-20, 26-Mar-20 
##### Vodafone 13-Mar-20, 12-Jun-20

#### -ve Dates with Market :
##### Tata 18-Mar-20, 12-Mar-20
##### Mtnl 0
##### reliance 0
##### Airtel 18-Mar-20
##### vodafone  18-Mar-20

In [35]:
ds6.corr()

             Open Price  High Price  Low Price  Close Price
Open Price     1.000000    0.999761   0.999670     0.999438
High Price     0.999761    1.000000   0.999524     0.999720
Low Price      0.999670    0.999524   1.000000     0.999723
Close Price    0.999438    0.999720   0.999723     1.000000

In [43]:
ds7=pd.read_csv('total %gains.csv')

In [44]:
ds7.corr()

,Tata %gain,Mtnl %gain,Reliance %gain,Airtel %gain,Vodafone %gain,BSE %gain
Tata %gain,1.000000,0.202123,0.248133,0.188086,0.200652,0.040510
Mtnl %gain,0.202123,1.000000,0.278442,0.122621,0.174855,0.012544
Reliance %gain,0.248133,0.278442,1.000000,0.198901,0.182287,-0.027469
Airtel %gain,0.188086,0.122621,0.198901,1.000000,0.395249,0.122953
Vodafone %gain,0.200652,0.174855,0.182287,0.395249,1.000000,0.154874
BSE %gain,0.040510,0.012544,-0.027469,0.122953,0.154874,1.000000

## Completed Q1

## Q2: What might be the reason or situation behind the sudden fall and sudden rise that occurred for 5 stocks?

## Q3: Find the most common day of the week (Mon...to ..Sat.) where the difference between the open and close price is high for stocks. Also, state the reason for it?

In [2]:
import pandas as pd
ds8=pd.read_csv('bda_added%gains.csv')

In [216]:
ds8max=ds8[(ds8['Tata %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Tata ")
print(ct," Tuesday's +ve gains of Tata  ")
print(cw," Wednesday's +ve gains of Tata  ")
print(cth," Thursday's +ve gains of Tata  ")
print(cf," Friday's +ve gains of Tata  ")
print(csa," Saturday's +ve gains of Tata  ")
print(csu," Sunday's +ve gains of Tata  ")

216  Monday's have +ve gains of Tata
232  Tuesday's +ve gains of Tata
209  Wednesday's +ve gains of Tata
222  Thursday's +ve gains of Tata
209  Friday's +ve gains of Tata
3  Saturday's +ve gains of Tata
1  Sunday's +ve gains of Tata

In [217]:
ds8min=ds8[(ds8['Tata %gain'] < 0)]
l1=[]
l1=ds8min['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Tata ")
print(ct," Tuesday's -ve gains of Tata  ")
print(cw," Wednesday's -ve gains of Tata  ")
print(cth," Thursday's -ve gains of Tata  ")
print(cf," Friday's -ve gains of Tata  ")
print(csa," Saturday's -ve gains of Tata  ")
print(csu," Sunday's -ve gains of Tata  ")

272  Monday's have -ve gains of Tata
262  Tuesday's -ve gains of Tata
284  Wednesday's -ve gains of Tata
267  Thursday's -ve gains of Tata
275  Friday's -ve gains of Tata
6  Saturday's -ve gains of Tata
2  Sunday's -ve gains of Tata

In [218]:
list1=ds8.nlargest(100,'Tata %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Tata from Top 100")
print(ct," Tuesday's +ve gains of Tata from Top 100 ")
print(cw," Wednesday's +ve gains of Tata from Top 100 ")
print(cth," Thursday's +ve gains of Tata from Top 100 ")
print(cf," Friday's +ve gains of Tata from Top 100 ")
print(csa," Saturday's +ve gains of Tata from Top 100 ")
print(csu," Sunday's +ve gains of Tata from Top 100 ")

24  Monday's have +ve gains of Tata from Top 100
20  Tuesday's +ve gains of Tata from Top 100
18  Wednesday's +ve gains of Tata from Top 100
17  Thursday's +ve gains of Tata from Top 100
21  Friday's +ve gains of Tata from Top 100
0  Saturday's +ve gains of Tata from Top 100
0  Sunday's +ve gains of Tata from Top 100

In [16]:
list1=ds8.nsmallest(100,'Tata %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Tata from Top 100")
print(ct," Tuesday's -ve gains of Tata from Top 100 ")
print(cw," Wednesday's -ve gains of Tata from Top 100 ")
print(cth," Thursday's -ve gains of Tata from Top 100 ")
print(cf," Friday's -ve gains of Tata from Top 100 ")
print(csa," Saturday's -ve gains of Tata from Top 100 ")
print(csu," Sunday's -ve gains of Tata from Top 100 ")

14  Monday's have -ve gains of Tata from Top 100
24  Tuesday's -ve gains of Tata from Top 100
17  Wednesday's -ve gains of Tata from Top 100
19  Thursday's -ve gains of Tata from Top 100
26  Friday's -ve gains of Tata from Top 100
0  Saturday's -ve gains of Tata from Top 100
0  Sunday's -ve gains of Tata from Top 100

In [17]:
k=ds8.nsmallest(100,'Tata %gain')
list1

,Index,Date,Day,Tata Comm Open Price,Mtnl Open Price,Reliance Open Price,Airtel Open Price,Vodafone Open Price,Tata CommnHigh Price,Mtnl High Price,...,Mtnl No. of Trades,Reliance No. of Trades,Airtel No. of Trades,Vodafone No. of Trades,Tata %gain,Mtnl %gain,Reliance %gain,Airtel %gain,Vodafone %gain,BSE %gain
202,202,12-Mar-20,Thursday,317.00,6.97,0.94,483.00,4.70,317.00,6.97,...,259,3040,9370,146634,-18.371919,-4.029851,-9.302326,-3.882138,-11.904762,-5.169177
1324,1324,24-Aug-15,Monday,415.00,16.75,58.20,362.00,150.00,415.00,16.75,...,1603,8719,8874,3043,-12.086428,-6.687898,-14.792899,-3.606182,-2.110279,0.446060
198,198,18-Mar-20,Wednesday,253.30,7.63,0.73,460.00,5.33,256.45,7.63,...,352,466,20811,211995,-12.079646,-10.419682,0.000000,-7.930549,-68.670886,-7.271790
2450,2450,10-Feb-11,Thursday,216.00,40.70,97.50,328.00,65.80,218.00,42.00,...,1988,53266,9646,9061,-9.923664,1.213592,-0.983946,-1.532271,-1.464919,1.181593
907,907,5-May-17,Friday,698.00,24.30,32.10,345.95,83.20,698.00,24.55,...,996,4081,1219,2443,-8.934842,-1.673640,-2.884615,-0.377194,-1.835985,0.036857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,389,10-Jun-19,Monday,526.10,10.05,1.85,355.00,13.31,526.10,10.24,...,490,26215,1746,2399,-3.900464,-5.789474,-6.321839,2.055456,-4.228661,0.125180
1650,1650,29-Apr-14,Tuesday,307.75,18.80,132.20,339.60,144.25,308.20,19.20,...,3163,12085,13602,17869,-3.899392,-1.347709,-1.147666,-1.327764,-2.559545,-0.445316
1482,1482,6-Jan-15,Tuesday,433.00,27.30,82.00,357.20,154.40,433.90,28.15,...,6097,14478,15433,8115,-3.886756,-1.865672,-2.950408,-0.790068,-2.933333,-0.277270
1940,1940,25-Feb-13,Monday,231.70,23.65,71.05,307.80,115.00,231.70,24.70,...,2041,7817,5453,2644,-3.878054,3.469388,-2.599278,-0.244260,-1.054482,-1.448951
1227,1227,15-Jan-16,Friday,430.50,20.15,79.70,311.00,119.00,439.00,20.40,...,1741,8926,3659,7539,-3.860072,-6.332454,-9.103354,-1.534443,-5.543237,-0.878149

### Tata End

## Mtnl Start

In [220]:
ds8max=ds8[(ds8['Mtnl %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Mtnl ")
print(ct," Tuesday's +ve gains of Mtnl  ")
print(cw," Wednesday's +ve gains of Mtnl  ")
print(cth," Thursday's +ve gains of Mtnl  ")
print(cf," Friday's +ve gains of Mtnl  ")
print(csa," Saturday's +ve gains of Mtnl  ")
print(csu," Sunday's +ve gains of Mtnl  ")

170  Monday's have +ve gains of Mtnl
162  Tuesday's +ve gains of Mtnl
183  Wednesday's +ve gains of Mtnl
161  Thursday's +ve gains of Mtnl
147  Friday's +ve gains of Mtnl
6  Saturday's +ve gains of Mtnl
1  Sunday's +ve gains of Mtnl

In [221]:
ds8max=ds8[(ds8['Mtnl %gain'] < 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Mtnl ")
print(ct," Tuesday's -ve gains of Mtnl  ")
print(cw," Wednesday's -ve gains of Mtnl  ")
print(cth," Thursday's -ve gains of Mtnl  ")
print(cf," Friday's -ve gains of Mtnl  ")
print(csa," Saturday's -ve gains of Mtnl  ")
print(csu," Sunday's -ve gains of Mtnl  ")

300  Monday's have -ve gains of Mtnl
319  Tuesday's -ve gains of Mtnl
298  Wednesday's -ve gains of Mtnl
310  Thursday's -ve gains of Mtnl
319  Friday's -ve gains of Mtnl
3  Saturday's -ve gains of Mtnl
1  Sunday's -ve gains of Mtnl

In [222]:
list1=ds8.nlargest(100,'Mtnl %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Mtnl from Top 100")
print(ct," Tuesday's +ve gains of Mtnl from Top 100 ")
print(cw," Wednesday's +ve gains of Mtnl from Top 100 ")
print(cth," Thursday's +ve gains of Mtnl from Top 100 ")
print(cf," Friday's +ve gains of Mtnl from Top 100 ")
print(csa," Saturday's +ve gains of Mtnl from Top 100 ")
print(csu," Sunday's +ve gains of Mtnl from Top 100 ")

20  Monday's have +ve gains of Mtnl from Top 100
18  Tuesday's +ve gains of Mtnl from Top 100
21  Wednesday's +ve gains of Mtnl from Top 100
23  Thursday's +ve gains of Mtnl from Top 100
18  Friday's +ve gains of Mtnl from Top 100
0  Saturday's +ve gains of Mtnl from Top 100
0  Sunday's +ve gains of Mtnl from Top 100

In [223]:
list1=ds8.nsmallest(100,'Mtnl %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Mtnl from Top 100")
print(ct," Tuesday's -ve gains of Mtnl from Top 100 ")
print(cw," Wednesday's -ve gains of Mtnl from Top 100 ")
print(cth," Thursday's -ve gains of Mtnl from Top 100 ")
print(cf," Friday's -ve gains of Mtnl from Top 100 ")
print(csa," Saturday's -ve gains of Mtnl from Top 100 ")
print(csu," Sunday's -ve gains of Mtnl from Top 100 ")

23  Monday's have -ve gains of Mtnl from Top 100
23  Tuesday's -ve gains of Mtnl from Top 100
18  Wednesday's -ve gains of Mtnl from Top 100
16  Thursday's -ve gains of Mtnl from Top 100
20  Friday's -ve gains of Mtnl from Top 100
0  Saturday's -ve gains of Mtnl from Top 100
0  Sunday's -ve gains of Mtnl from Top 100

### Mtnl END

### Reliance Start

In [224]:
ds8max=ds8[(ds8['Reliance %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Reliance ")
print(ct," Tuesday's +ve gains of Reliance  ")
print(cw," Wednesday's +ve gains of Reliance  ")
print(cth," Thursday's +ve gains of Reliance  ")
print(cf," Friday's +ve gains of Reliance  ")
print(csa," Saturday's +ve gains of Reliance  ")
print(csu," Sunday's +ve gains of Reliance  ")

181  Monday's have +ve gains of Reliance
201  Tuesday's +ve gains of Reliance
188  Wednesday's +ve gains of Reliance
187  Thursday's +ve gains of Reliance
201  Friday's +ve gains of Reliance
5  Saturday's +ve gains of Reliance
1  Sunday's +ve gains of Reliance

In [225]:
ds8max=ds8[(ds8['Reliance %gain'] < 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Reliance ")
print(ct," Tuesday's -ve gains of Reliance  ")
print(cw," Wednesday's -ve gains of Reliance  ")
print(cth," Thursday's -ve gains of Reliance  ")
print(cf," Friday's -ve gains of Reliance  ")
print(csa," Saturday's -ve gains of Reliance  ")
print(csu," Sunday's -ve gains of Reliance  ")

266  Monday's have -ve gains of Reliance
253  Tuesday's -ve gains of Reliance
261  Wednesday's -ve gains of Reliance
261  Thursday's -ve gains of Reliance
255  Friday's -ve gains of Reliance
3  Saturday's -ve gains of Reliance
2  Sunday's -ve gains of Reliance

In [226]:
list1=ds8.nlargest(100,'Reliance %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Reliance from Top 100")
print(ct," Tuesday's +ve gains of Reliance from Top 100 ")
print(cw," Wednesday's +ve gains of Reliance from Top 100 ")
print(cth," Thursday's +ve gains of Reliance from Top 100 ")
print(cf," Friday's +ve gains of Reliance from Top 100 ")
print(csa," Saturday's +ve gains of Reliance from Top 100 ")
print(csu," Sunday's +ve gains of Reliance from Top 100 ")

19  Monday's have +ve gains of Reliance from Top 100
21  Tuesday's +ve gains of Reliance from Top 100
18  Wednesday's +ve gains of Reliance from Top 100
18  Thursday's +ve gains of Reliance from Top 100
24  Friday's +ve gains of Reliance from Top 100
0  Saturday's +ve gains of Reliance from Top 100
0  Sunday's +ve gains of Reliance from Top 100

In [227]:
list1=ds8.nsmallest(100,'Reliance %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Reliance from Top 100")
print(ct," Tuesday's -ve gains of Reliance from Top 100 ")
print(cw," Wednesday's -ve gains of Reliance from Top 100 ")
print(cth," Thursday's -ve gains of Reliance from Top 100 ")
print(cf," Friday's -ve gains of Reliance from Top 100 ")
print(csa," Saturday's -ve gains of Reliance from Top 100 ")
print(csu," Sunday's -ve gains of Reliance from Top 100 ")

21  Monday's have -ve gains of Reliance from Top 100
18  Tuesday's -ve gains of Reliance from Top 100
24  Wednesday's -ve gains of Reliance from Top 100
19  Thursday's -ve gains of Reliance from Top 100
18  Friday's -ve gains of Reliance from Top 100
0  Saturday's -ve gains of Reliance from Top 100
0  Sunday's -ve gains of Reliance from Top 100

### Reliance End

### Airtel Start

In [228]:
ds8max=ds8[(ds8['Airtel %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Airtel ")
print(ct," Tuesday's +ve gains of Airtel  ")
print(cw," Wednesday's +ve gains of Airtel  ")
print(cth," Thursday's +ve gains of Airtel  ")
print(cf," Friday's +ve gains of Airtel  ")
print(csa," Saturday's +ve gains of Airtel  ")
print(csu," Sunday's +ve gains of Airtel  ")

217  Monday's have +ve gains of Airtel
232  Tuesday's +ve gains of Airtel
205  Wednesday's +ve gains of Airtel
218  Thursday's +ve gains of Airtel
222  Friday's +ve gains of Airtel
3  Saturday's +ve gains of Airtel
0  Sunday's +ve gains of Airtel

In [229]:
ds8max=ds8[(ds8['Airtel %gain'] < 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Airtel ")
print(ct," Tuesday's -ve gains of Airtel  ")
print(cw," Wednesday's -ve gains of Airtel  ")
print(cth," Thursday's -ve gains of Airtel  ")
print(cf," Friday's -ve gains of Airtel  ")
print(csa," Saturday's -ve gains of Airtel  ")
print(csu," Sunday's -ve gains of Airtel  ")

275  Monday's have -ve gains of Airtel
264  Tuesday's -ve gains of Airtel
290  Wednesday's -ve gains of Airtel
268  Thursday's -ve gains of Airtel
263  Friday's -ve gains of Airtel
6  Saturday's -ve gains of Airtel
3  Sunday's -ve gains of Airtel

In [230]:
list1=ds8.nlargest(100,'Airtel %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Airtel from Top 100")
print(ct," Tuesday's +ve gains of Airtel from Top 100 ")
print(cw," Wednesday's +ve gains of Airtel from Top 100 ")
print(cth," Thursday's +ve gains of Airtel from Top 100 ")
print(cf," Friday's +ve gains of Airtel from Top 100 ")
print(csa," Saturday's +ve gains of Airtel from Top 100 ")
print(csu," Sunday's +ve gains of Airtel from Top 100 ")

23  Monday's have +ve gains of Airtel from Top 100
21  Tuesday's +ve gains of Airtel from Top 100
19  Wednesday's +ve gains of Airtel from Top 100
17  Thursday's +ve gains of Airtel from Top 100
20  Friday's +ve gains of Airtel from Top 100
0  Saturday's +ve gains of Airtel from Top 100
0  Sunday's +ve gains of Airtel from Top 100

In [231]:
list1=ds8.nsmallest(100,'Airtel %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Airtel from Top 100")
print(ct," Tuesday's -ve gains of Airtel from Top 100 ")
print(cw," Wednesday's -ve gains of Airtel from Top 100 ")
print(cth," Thursday's -ve gains of Airtel from Top 100 ")
print(cf," Friday's -ve gains of Airtel from Top 100 ")
print(csa," Saturday's -ve gains of Airtel from Top 100 ")
print(csu," Sunday's -ve gains of Airtel from Top 100 ")

22  Monday's have -ve gains of Airtel from Top 100
18  Tuesday's -ve gains of Airtel from Top 100
22  Wednesday's -ve gains of Airtel from Top 100
17  Thursday's -ve gains of Airtel from Top 100
21  Friday's -ve gains of Airtel from Top 100
0  Saturday's -ve gains of Airtel from Top 100
0  Sunday's -ve gains of Airtel from Top 100

## Airtel End

### Vodafone Start

In [232]:
ds8max=ds8[(ds8['Vodafone %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Vodafone ")
print(ct," Tuesday's +ve gains of Vodafone  ")
print(cw," Wednesday's +ve gains of Vodafone  ")
print(cth," Thursday's +ve gains of Vodafone  ")
print(cf," Friday's +ve gains of Vodafone  ")
print(csa," Saturday's +ve gains of Vodafone  ")
print(csu," Sunday's +ve gains of Vodafone  ")

225  Monday's have +ve gains of Vodafone
199  Tuesday's +ve gains of Vodafone
204  Wednesday's +ve gains of Vodafone
220  Thursday's +ve gains of Vodafone
213  Friday's +ve gains of Vodafone
3  Saturday's +ve gains of Vodafone
1  Sunday's +ve gains of Vodafone

In [233]:
ds8max=ds8[(ds8['Vodafone %gain'] < 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Vodafone ")
print(ct," Tuesday's -ve gains of Vodafone  ")
print(cw," Wednesday's -ve gains of Vodafone  ")
print(cth," Thursday's -ve gains of Vodafone  ")
print(cf," Friday's -ve gains of Vodafone  ")
print(csa," Saturday's -ve gains of Vodafone  ")
print(csu," Sunday's -ve gains of Vodafone  ")

262  Monday's have -ve gains of Vodafone
291  Tuesday's -ve gains of Vodafone
287  Wednesday's -ve gains of Vodafone
264  Thursday's -ve gains of Vodafone
269  Friday's -ve gains of Vodafone
6  Saturday's -ve gains of Vodafone
2  Sunday's -ve gains of Vodafone

In [234]:
list1=ds8.nlargest(100,'Vodafone %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of Vodafone from Top 100")
print(ct," Tuesday's +ve gains of Vodafone from Top 100 ")
print(cw," Wednesday's +ve gains of Vodafone from Top 100 ")
print(cth," Thursday's +ve gains of Vodafone from Top 100 ")
print(cf," Friday's +ve gains of Vodafone from Top 100 ")
print(csa," Saturday's +ve gains of Vodafone from Top 100 ")
print(csu," Sunday's +ve gains of Vodafone from Top 100 ")

24  Monday's have +ve gains of Vodafone from Top 100
16  Tuesday's +ve gains of Vodafone from Top 100
20  Wednesday's +ve gains of Vodafone from Top 100
13  Thursday's +ve gains of Vodafone from Top 100
27  Friday's +ve gains of Vodafone from Top 100
0  Saturday's +ve gains of Vodafone from Top 100
0  Sunday's +ve gains of Vodafone from Top 100

In [235]:
list1=ds8.nsmallest(100,'Vodafone %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of Vodafone from Top 100")
print(ct," Tuesday's -ve gains of Vodafone from Top 100 ")
print(cw," Wednesday's -ve gains of Vodafone from Top 100 ")
print(cth," Thursday's -ve gains of Vodafone from Top 100 ")
print(cf," Friday's -ve gains of Vodafone from Top 100 ")
print(csa," Saturday's -ve gains of Vodafone from Top 100 ")
print(csu," Sunday's -ve gains of Vodafone from Top 100 ")

21  Monday's have -ve gains of Vodafone from Top 100
23  Tuesday's -ve gains of Vodafone from Top 100
24  Wednesday's -ve gains of Vodafone from Top 100
17  Thursday's -ve gains of Vodafone from Top 100
14  Friday's -ve gains of Vodafone from Top 100
1  Saturday's -ve gains of Vodafone from Top 100
0  Sunday's -ve gains of Vodafone from Top 100

### Vodafone END

### BSE Market Start

In [236]:
ds8max=ds8[(ds8['BSE %gain'] > 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of BSE ")
print(ct," Tuesday's +ve gains of BSE  ")
print(cw," Wednesday's +ve gains of BSE  ")
print(cth," Thursday's +ve gains of BSE  ")
print(cf," Friday's +ve gains of BSE  ")
print(csa," Saturday's +ve gains of BSE  ")
print(csu," Sunday's +ve gains of BSE  ")

213  Monday's have +ve gains of BSE
214  Tuesday's +ve gains of BSE
225  Wednesday's +ve gains of BSE
224  Thursday's +ve gains of BSE
223  Friday's +ve gains of BSE
2  Saturday's +ve gains of BSE
0  Sunday's +ve gains of BSE

In [237]:
ds8max=ds8[(ds8['BSE %gain'] < 0)]
l1=[]
l1=ds8max['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in l1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of BSE ")
print(ct," Tuesday's -ve gains of BSE  ")
print(cw," Wednesday's -ve gains of BSE  ")
print(cth," Thursday's -ve gains of BSE  ")
print(cf," Friday's -ve gains of BSE  ")
print(csa," Saturday's -ve gains of BSE  ")
print(csu," Sunday's -ve gains of BSE  ")

279  Monday's have -ve gains of BSE
283  Tuesday's -ve gains of BSE
272  Wednesday's -ve gains of BSE
267  Thursday's -ve gains of BSE
266  Friday's -ve gains of BSE
7  Saturday's -ve gains of BSE
3  Sunday's -ve gains of BSE

In [238]:
list1=ds8.nlargest(100,'BSE %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have +ve gains of BSE from Top 100")
print(ct," Tuesday's +ve gains of BSE from Top 100 ")
print(cw," Wednesday's +ve gains of BSE from Top 100 ")
print(cth," Thursday's +ve gains of BSE from Top 100 ")
print(cf," Friday's +ve gains of BSE from Top 100 ")
print(csa," Saturday's +ve gains of BSE from Top 100 ")
print(csu," Sunday's +ve gains of BSE from Top 100 ")

21  Monday's have +ve gains of BSE from Top 100
19  Tuesday's +ve gains of BSE from Top 100
16  Wednesday's +ve gains of BSE from Top 100
24  Thursday's +ve gains of BSE from Top 100
20  Friday's +ve gains of BSE from Top 100
0  Saturday's +ve gains of BSE from Top 100
0  Sunday's +ve gains of BSE from Top 100

In [239]:
list1=ds8.nsmallest(100,'BSE %gain')
lsub1=[]
lsub1=list1['Day']
cm=0
ct=0
cw=0
cth=0
cf=0
csa=0
csu=0
for i in lsub1:
    if(i=='Monday'):
        cm=cm+1
    elif(i=='Tuesday'):
        ct=ct+1
    elif(i=='Wednesday'):
        cw=cw+1
    elif(i=='Thursday'):
        cth=cth+1
    elif(i=='Friday'):
        cf=cf+1
    elif(i=='Saturday'):
        csa=csa+1
    elif(i=='Sunday'):
        csu=csu+1
print(cm," Monday's have -ve gains of BSE from Top 100")
print(ct," Tuesday's -ve gains of BSE from Top 100 ")
print(cw," Wednesday's -ve gains of BSE from Top 100 ")
print(cth," Thursday's -ve gains of BSE from Top 100 ")
print(cf," Friday's -ve gains of BSE from Top 100 ")
print(csa," Saturday's -ve gains of BSE from Top 100 ")
print(csu," Sunday's -ve gains of BSE from Top 100 ")

29  Monday's have -ve gains of BSE from Top 100
9  Tuesday's -ve gains of BSE from Top 100
20  Wednesday's -ve gains of BSE from Top 100
21  Thursday's -ve gains of BSE from Top 100
19  Friday's -ve gains of BSE from Top 100
2  Saturday's -ve gains of BSE from Top 100
0  Sunday's -ve gains of BSE from Top 100

### BSE END

## Q4. Compare and find % gains if we invest among one of 5 stocks for a period of 1 month, 3 months, 6 months, 1 year, 3 years, 5 years, and 10 years.

In [141]:
import pandas as pd
ds8=pd.read_csv('bda_added%gains.csv')
## buys at close sells at open

In [182]:
index=ds8[ds8['Date']=='3-Jan-11']
ind1=index['Index']
buy=ds8['Tata Commn Close Price'][ind1]
money=1000000
noofshares=(money/buy).tolist()
ranges=[20,60,120,245,735,1225,2450]

for i in ranges:
    ind=ind1-i
    ind=ind.tolist()
    ind

    price=ds8['Tata Comm Open Price'][ind[0]]
    shreprice=(price*noofshares[0])
    print("Value of Stock after invest of ",i," days is ₹{:,.2f}".format(shreprice))

Value of Stock after invest of  20  days is ₹870,614.86
Value of Stock after invest of  60  days is ₹939,079.59
Value of Stock after invest of  120  days is ₹710,486.61
Value of Stock after invest of  245  days is ₹800,829.88
Value of Stock after invest of  735  days is ₹1,062,995.10
Value of Stock after invest of  1225  days is ₹1,546,586.19
Value of Stock after invest of  2450  days is ₹3,923,047.91

In [183]:
index=ds8[ds8['Date']=='3-Jan-11']
ind1=index['Index']
buy=ds8['Mtnl Close Price'][ind1]
money=1000000
noofshares=(money/buy).tolist()
ranges=[20,60,120,245,735,1225,2450]

for i in ranges:
    ind=ind1-i
    ind=ind.tolist()
    ind

    price=ds8['Mtnl Open Price'][ind[0]]
    shreprice=(price*noofshares[0])
    print("Value of Stock after invest of ",i," days is ₹{:,.2f}".format(shreprice))

Value of Stock after invest of  20  days is ₹913,763.07
Value of Stock after invest of  60  days is ₹799,651.57
Value of Stock after invest of  120  days is ₹727,351.92
Value of Stock after invest of  245  days is ₹402,439.02
Value of Stock after invest of  735  days is ₹249,477.35
Value of Stock after invest of  1225  days is ₹348,432.06
Value of Stock after invest of  2450  days is ₹164,111.50

In [184]:
index=ds8[ds8['Date']=='3-Jan-11']
ind1=index['Index']
buy=ds8['Reliance Close Price'][ind1]
money=1000000
noofshares=(money/buy).tolist()
ranges=[20,60,120,245,735,1225,2450]

for i in ranges:
    ind=ind1-i
    ind=ind.tolist()
    ind

    price=ds8['Reliance Open Price'][ind[0]]
    shreprice=(price*noofshares[0])
    print("Value of Stock after invest of ",i," days is ₹{:,.2f}".format(shreprice))

Value of Stock after invest of  20  days is ₹843,813.39
Value of Stock after invest of  60  days is ₹745,436.11
Value of Stock after invest of  120  days is ₹616,632.86
Value of Stock after invest of  245  days is ₹486,139.28
Value of Stock after invest of  735  days is ₹895,875.59
Value of Stock after invest of  1225  days is ₹516,565.25
Value of Stock after invest of  2450  days is ₹10,141.99

In [185]:
index=ds8[ds8['Date']=='3-Jan-11']
ind1=index['Index']
buy=ds8['Airtel Close Price'][ind1]
money=1000000
noofshares=(money/buy).tolist()
ranges=[20,60,120,245,735,1225,2450]

for i in ranges:
    ind=ind1-i
    ind=ind.tolist()
    ind

    price=ds8['Airtel Open Price'][ind[0]]
    shreprice=(price*noofshares[0])
    print("Value of Stock after invest of ",i," days is ₹{:,.2f}".format(shreprice))

Value of Stock after invest of  20  days is ₹898,845.14
Value of Stock after invest of  60  days is ₹1,001,808.82
Value of Stock after invest of  120  days is ₹1,082,510.09
Value of Stock after invest of  245  days is ₹949,770.42
Value of Stock after invest of  735  days is ₹915,263.67
Value of Stock after invest of  1225  days is ₹865,451.51
Value of Stock after invest of  2450  days is ₹1,357,590.09

In [187]:
index=ds8[ds8['Date']=='3-Jan-11']
ind1=index['Index']
buy=ds8['Vodafone Close Price'][ind1]
money=1000000
noofshares=(money/buy).tolist()
ranges=[20,60,120,245,735,1225,1470,1715,1960,2205,2450]

for i in ranges:
    ind=ind1-i
    ind=ind.tolist()
    ind

    price=ds8['Vodafone Open Price'][ind[0]]
    shreprice=(price*noofshares[0])
    print("Value of Stock after invest of ",i," days is ₹{:,.2f}".format(shreprice))

Value of Stock after invest of  20  days is ₹990,099.01
Value of Stock after invest of  60  days is ₹954,738.33
Value of Stock after invest of  120  days is ₹1,053,748.23
Value of Stock after invest of  245  days is ₹1,142,149.93
Value of Stock after invest of  735  days is ₹2,418,670.44
Value of Stock after invest of  1225  days is ₹1,948,373.41
Value of Stock after invest of  1470  days is ₹1,074,964.64
Value of Stock after invest of  1715  days is ₹1,331,683.17
Value of Stock after invest of  1960  days is ₹533,946.25
Value of Stock after invest of  2205  days is ₹111,739.75
Value of Stock after invest of  2450  days is ₹145,403.11